@charset "EUC-JP";

/* CSS Document frame.scss */

.main_img {
  width: 438px;
  height: 438px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0;
  padding-top: 0px;
  img {
    width: 438px;
    height: 438px;
  }
}

.main_img_two {
  width: 480px;
  height: 350px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0;
  padding-top: 0px;
  img {
    width: 480px;
    height: 350px;
  }
}

.main_img_col {
  width: 396px;
  height: 396px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0;
  padding-top: 0px;
  padding-left: 80px;
  border: 1px solid #ccc;
  img {
    width: 396px;
    height: 396px;
  }
}

.price_img {
  width: 396px;
  height: 119px;
  display: block;
  position: absolute;
  top: 480px;
  left: 0;
  padding-top: 0px;
  img {
    width: 396px;
    height: 119px;
  }
}

.thumb_area {
  width: 438px;
  height: 80px;
  display: block;
  position: absolute;
  top: 430px;
  left: -39px;
  padding-top: 0px;
  z-index: 999999999;
  li {
    display: block;
    background: #fff;
    margin-right: 5px;
    float: left;
    border: 1px solid #ccc;
    width: 81px;
    height: 81px;
    &:last-child {
      margin-right: 0px;
    }
    img {
      width: 80px;
      cursor: pointer;
      &:hover {
        opacity: 0.7;
        filter: alpha(opacity = 70);
        -ms-filter: "alpha(opacity=70)";
        zoom: 1;
      }
    }
  }
}

/*-------------1column---------------*/

.thumb_area_col {
  width: 63px;
  height: 396px;
  display: block;
  position: absolute;
  top: -16px;
  left: -40px;
  z-index: 999999999;
  li {
    display: block;
    background: #fff;
    margin-right: 0px;
    margin-bottom: 4px;
    border: 1px solid #ccc;
    height: 60px;
    img {
      width: 60px;
      cursor: pointer;
      &:hover {
        opacity: 0.7;
        filter: alpha(opacity = 70);
        -ms-filter: "alpha(opacity=70)";
        zoom: 1;
      }
    }
  }
}

/*-------------1column---------------*/

.main_img_sp {
  width: 90%;
  display: block;
  border: 1px solid #ccc;
  margin: 3% auto;
  img {
    width: 100%;
  }
}

.thumb_area_sp {
  width: 90%;
  height: auto;
  display: block;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  li {
    width: 30%;
    display: block;
    background: #fff;
    margin: 3% 3.5% 2% 0;
    float: left;
    border: 1px solid #ccc;
    &:nth-child(3n) {
      margin-right: 0px;
    }
    img {
      width: 100%;
      cursor: pointer;
    }
  }
}

.col_cart {
  height: 437px;
  width: 438px;
  position: absolute;
  top: 5px;
  right: 20px;
}

.col_cart_2 {
  height: 437px;
  width: 438px;
  position: absolute;
  top: 5px;
}

// .col_cart img {
//   width: 355px;
//   height:328px;
// }

.col_img {
  width: 950px;
  margin: 3px 3px 3px 3px;
  iframe {
    width: 980px !important;
    height: 500px;
  }
}

.switch {
  width: 346px;
  margin: 0 auto;
}
