/nbproject/private/

used1/node_modules
used1r/node_modules
used18/node_modules

# use only build
used1r/semantic
semantic


express/node_modules
express/view/node_modules
express/example/cred2.js

semantic/node_modules/*
!semantic/node_modules/semantic-ui

webpack/node_modules

ftpFileGet.sh
fuku/package-lock.json
express/package-lock.json
