# default SHIFT-JIS
*.js diff=sjis
# *.html diff=eucjp
*.html diff=eucjp
# *.html encoding=eucjp
# *.css encoding=eucjp
*.css encoding=utf8
# *.css diff=eucjp
*.css diff=utf8
*.pug diff=eucjp,utf8
# *.pug diff=utf8
