# diff.sjis.textconv=iconv -f sjis
# diff.eucjp.textconv=iconv -f eucjp
# i18n.commitencoding UTF-8

[diff "eucjp"]
        diff = iconv -f EUC-JP
        # diff = iconv -f EUC-JP -t UTF-8
        # diff = nkf -w | LESS=-R less
# 	textconv = iconv -f EUCJP -t UTF8


[color]
        ui = true
[pager]
        diff = nkf -w | LESS=-R less
        log =  nkf -w | LESS=-R less
        show = nkf -w | LESS=-R less
